<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-2 col-md-2 bg-info">
      <div class="row d-flex flex-row">
        <div class="col d-flex flex-column min-vh-100">
          <ul class="list-group">
            <li i18n>Home</li>
            <li i18n>Application Links</li>
          </ul>
          <hr class="border border-dark border-1 opacity-50" />
          <ul class="list-group">
            <li i18n>Client Dashboard</li>
          </ul>
          <hr class="border border-dark border-1 opacity-50" />
          <ul class="list-group">
            <li i18n>User Options</li>
            <li i18n>Customize</li>
            <li i18n>Feedback Form</li>
            <li i18n>CCH Software News</li>
          </ul>

          <ul class="list-group mt-auto pb-2">
            <li i18n>Recent Tasks</li>
            <li i18n>Report Manager</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-10 min-vh-100">
      <div class="row">
        <div class="col-3 col-md-3">
          <p i18n class="text-center">Time Capture</p>
        </div>
        <div class="col-3 col-md-3">
          <p i18n class="text-center">Tax</p>
        </div>
        <div class="col-3 col-md-3">
          <p i18n class="text-center">Workflow</p>
        </div>
        <div class="col-3 col-md-3">
          <p i18n class="text-center">Billing and Workflow</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-md-3">
          <p i18n class="text-center">Accounts Receivable</p>
        </div>
        <div class="col-3 col-md-3">
          <p i18n class="text-center">Business Intelligence</p>
        </div>
        <div class="col-3 col-md-3">
          <p i18n class="text-center">Reports</p>
        </div>
        <div class="col-3 col-md-3">
          <p i18n class="text-center">Administration</p>
        </div>
        <div class="row">
          <div class="col-3 col-md-3">
            <p i18n class="text-center">Clients</p>
          </div>
          <div class="col-3 col-md-3">
            <p i18n class="text-center">Staff</p>
          </div>
          <div class="col-3 col-md-3">
            <p i18n class="text-center">Firm</p>
          </div>
          <div class="col-3 col-md-3">
            <p i18n class="text-center">Security</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
